PORT = <PORT_NUMBER>

MONGO_URI = <YOUR_MONGO_DB_URI>
MONGO_DB = <YOUR_MONGO_DB_NAME>

ACCESS_SECRET = ACCESS_TOKEN_SECRET
ACCESS_EXPIRES_IN_VALUE = ACCESS_TOKEN_EXPIRES_IN_VALUE #eg. 1
ACCESS_EXPIRES_IN_UNIT = ACCESS_TOKEN_EXPIRES_IN_UNIT #eg. d
